
<section id="banner" data-vide-bg="{{site.baseurl}}/assets/video/{% if site.video %}{{ site.video }}{% endif %}" data-vide-options="posterType: jpg, loop: true, muted: true, autoplay:true, position: 50% 50%" style="background-image:url({{site.baseurl}}/assets/video/bboyseiok.jpg)">
  <div class="wrapper">
    <div class="content">
      <h1 class="title">{% if site.banner-title %}{{ site.banner-title }}{% else %}Life of a B-Boy{% endif %}</h1>
      <h2 class="sub_title">{% if site.banner-desc %}{{ site.banner-desc }}{% else %}"It's all about being true to yourself". — B-Boy Serge{% endif %}</h2>
    </div>
  </div>
</section> <!-- End Section Banner -->